#ENTRADAS DO CLOCK E RESET
NET "clk" LOC = "C9" | IOSTANDARD= LVCMOS33 ;

#ENTRADAS DO DISPLAY DE 7-SEGMENTOS 1
NET "leds(0)" LOC = "F12" | IOSTANDARD=LVTTL ;
NET "leds(1)" LOC = "E12" | IOSTANDARD=LVTTL ;
NET "leds(2)" LOC = "E11" | IOSTANDARD=LVTTL ;
NET "leds(3)" LOC = "F11" | IOSTANDARD=LVTTL ;

#ENTRADAS DO DISPLAY DE 7-SEGMENTOS 2
NET "leds(4)" LOC = "C11" | IOSTANDARD=LVTTL ;

NET "leds(5)" LOC = "D11" | IOSTANDARD=LVTTL ;
NET "leds(6)" LOC = "E9" | IOSTANDARD=LVTTL;
NET "leds(7)" LOC = "F9" | IOSTANDARD=LVTTL ;

NET "ps2_clk" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW |
CLOCK_DEDICATED_ROUTE = FALSE;
NET "data" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;