#Entradas DCE RS323 FEMLAE
NET "BIT_IN" LOC = "R7" | IOSTANDARD = LVTTL ;

# Entradas BAUD_RATE e CLOCK
NET "BAUD_RATE" LOC = "L13" | IOSTANDARD = LVTTL;
NET "CLOCK" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

# Saidas Display 7seg
NET "WORD_OUT(0)" LOC = "B4" | IOSTANDARD=LVTTL ;
NET "WORD_OUT(1)" LOC = "A4" | IOSTANDARD=LVTTL ;
NET "WORD_OUT(2)" LOC = "D5" | IOSTANDARD=LVTTL ;
NET "WORD_OUT(3)" LOC = "C5" | IOSTANDARD=LVTTL ;
NET "WORD_OUT(4)" LOC = "A6" | IOSTANDARD=LVTTL ;
NET "WORD_OUT(5)" LOC = "B6" | IOSTANDARD=LVTTL ;
NET "WORD_OUT(6)" LOC = "E7" | IOSTANDARD=LVTTL ;
NET "WORD_OUT(7)" LOC = "F7" | IOSTANDARD=LVTTL ;
